.contacts{
		background-image: url(../img/background-contact3.jpg);
	background-size: cover;
}
.contacts-wrapper{
		width: 320px;
	margin: 0 auto;
	min-height: 962px;
	color: $color-white;
}
.contacts-title{
	  width: 308px;
  height: 170px;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.22;
  text-transform: uppercase;
   padding-left: 12px;
  padding-top: 60px;
  font-weight: lighter;
  letter-spacing: 0.4px;
}
.contacts--line{
	display: block;
	 width: 35px;
  height: 3px;
  border-radius: 1px;
  margin-left: 17px;
  margin-top: 12px;
  background-color: $background-color-gold;
}
.contacts-text{
	width: 287px;
  height: 104px;
  font-size: 18px;
  line-height: 1.47;
  margin-left: 17px;
  margin-top: 10px;
  letter-spacing: 0.2px;
  font-weight: lighter;
}
.contacts-adress{
  position: relative;
	width: 261px;
  height: 28px;
  font-size: 14px;
  line-height: 2.07;
  font-weight: lighter;
  margin-left: 43px;
  padding-top: 2px;
  letter-spacing: 0.1px;
}
.contacts-adress:after{
  content: "";
  top: 0;
  left: -22px;
  position: absolute;
  width: 11px;
  height: 26px;
  font-family: "Material-Design-Iconic-Font";
  color: $color-gold;
  
}
.contacts-work-time{
  position: relative;
	width: 169px;
  height: 48px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: lighter;
  margin-left: 46px;
  padding-top: 0px;
  letter-spacing: 0.2px;
}
.contacts-work-time:after{
  content: "";
  top: -1px;
  left: -27px;
  position: absolute;
  width: 11px;
  height: 26px;
  font-family: "Material-Design-Iconic-Font";
  color: $color-gold;
  
}
.contacts__tel-wrapper{
  position: relative;
	 width: 180px;
  height: 152px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.78px;
   margin-left: 43px;
   margin-top: 18px;
   font-weight: lighter;
}
.contacts__tel-wrapper:after{
  content: "";
  top: -1px;
  left: -23px;
  position: absolute;
  width: 11px;
  height: 26px;
  font-family: "Material-Design-Iconic-Font";
  color: $color-gold;
  
}
.contacts__tel-wrapper a{
	display: block;
	color: $color-white;

}
.contacts__email{
  position: relative;
margin-top: 18px;
	letter-spacing: 0.2px;
}
.contacts__email:after{
  content: "";
  top: 2px;
  left: -24px;
  position: absolute;
  width: 11px;
  height: 26px;
  font-family: "Material-Design-Iconic-Font";
  color: $color-gold;
  
}
.contacts__skype{
  position: relative;
margin-top: 19px;
letter-spacing: 0.15px;
}
.contacts__skype:after{
  content: "";
  top: 0px;
  left: -24px;
  position: absolute;
  width: 11px;
  height: 26px;
  font-family: "Material-Design-Iconic-Font";
  color: $color-gold;
  
}
.contacts__social-list{
	list-style: none;
	display: flex;
	padding: 0;
	margin-left: 7px;
	margin-top: 30px;

}
.contacts__social-item{
width: 50px;
height: 50px;
background-color: #565656;
border-radius: 10px;
margin-left: 10px;
}
.social-item-desctop--mod{
	display: none;
}
.contacts__social-item a{
display: block;
margin-left: 15px;
margin-top: 10px;
}
.contacts__social-item:nth-child(3) a{
margin-left: 20px;
}
.contacts-map iframe{
	margin-left: 17px;
	margin-top: 15px;
	border-radius: 10px;
	 -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  border: none;

  width: 287px;
	height: 258px;
}
.nav-button{
  display: none;
}

@media screen and (min-width:1280px){
  .contacts{
    background-image: url(../img/bacfooter.jpg);
  background-size: cover;
  position: relative;

}
	.contacts-wrapper{
	width: 1241px;
	min-height: 960px;
  	padding-left: 0px;
	display: flex;

}

.contacts-title{
  width: 400px;
  height: 250px;
  padding-left: 8px;
  padding-top: 208px;
 }
.contacts--line{
  margin-left: 12px;
  margin-top: 24px;

}
.contacts-text{
  width: 300px;
  margin-left: 11px;
  margin-top: 10px;
 
}
.contacts-adress{
  width: 303px;
  height: 29px;
  font-size: 18px;
  line-height: 1.61;
  margin-left: 35px;
  padding-top: 0px;
  margin-bottom: 0;
 
}
.contacts-work-time{
  width: 220px;
  height: 29px;
  font-size: 18px;
  line-height: 1.41;
  margin-left: 40px;
  letter-spacing: 0.2px;
  margin-top: 12px;
}
.contacts__tel-wrapper{
  width: 180px;
  height: 152px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 1.1px;
   margin-left: 36px;
   margin-top: 38px;

}
.social-item-desctop--mod{
  display: block;
}
.contacts__social-item{
  margin-top: 2px;
margin-left: 2px;
}
.contacts__social-item:not(:first-child){
margin-left: 10px;
}
.contacts-map iframe{
margin-top: 208px;
margin-left: 247px;
width: 603px;
height: 542px;
}
.contacts__tel-wrapper:after{
  left: -25px;
  }
  .contacts-work-time:after{
   left: -29px;

  
}
.nav-button a{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 94px;
  right: 155px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: $color-white;
  background-image: url(../img/arrow.svg);
  background-position: 35%;
  cursor: pointer;
}

}