.study-programm{
	width: 320px;
	margin: 0 auto;
	min-height: 1069px;
}
.study-programm-title{
	 font-size: 46px;
  font-weight: 300;
  line-height: 1.22;
    color: $color-light-black;
    text-transform: uppercase;
    margin-left: 11px;
    padding-top: 100px;
}
.study-programm__line{
	display: block;
	margin-top: 10px;
	margin-left: 16px;
	height: 3px;
	border-radius: 5px;
	width: 35px;
	background-color: $background-color-red;
}
.study-programm__text{
	width: 289px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 18px;
  line-height: 1.47;
  color: $color-light-black;
 

}
.study-programm__list.hidden{
	display: none;
}
.study-programm__button{
	margin-left: 16px;
	margin-top: 28px;
	height: 70px;
	width: 289px;
	border-radius: 10px;
	border: 4px solid #f4f5f9;
	display: flex;
	justify-content: space-between;
	background-color: #f4f5f9;
}
.study-programm__button--horizontal,
.study-programm__button--vertical{
	width: 140px;
	  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  padding-top: 0px;
  padding-left: 20px;
	border: none;
	outline: none !important;

}
.study-programm__button--vertical{
	color: #ff442b;
	background-color:  #ffffff;
	border: 1px solid #fff;
	border-radius: 10px;
	outline: none;

}
.study-programm__button--horizontal{
background-color: #f4f5f9;
color: #909bad;

}
.horizontal-mod{
background-color: #f4f5f9;
color: #909bad;
border:none;
}
.vertical-mod{
	color: #ff442b;
	background-color:  #ffffff;
	border: 1px solid #fff;
	border-radius: 10px;	
}
.study-programm__list{
	margin-top: 25px;
	list-style: none;
	padding: 0;
	margin-left: 16px;

}
.study-programm__item{
	display: flex;
	width: 289px;
		min-height: 80px;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
}
.another-icon{
	margin-top: 20px;
}
.study-programm__item span{
	position: relative;
	display: block;
	width: 90px;
	 font-size: 14px;

  line-height: 1.86;
 font-weight: lighter;
 padding-left: 15px;
 padding-top: 25px;
  color: #8b93a6;
}
.study-programm__item span:after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-image: url(../img/ico1.jpg);
	background-repeat: no-repeat;
	right: 7px;
	top: 35px;
}
.study-programm__item p{
	 font-size: 36px;
  font-weight: bold;
  line-height: 0.72;
  color: $color-light-black;
  padding-left: 10px;
  padding-top: 25px;

}
.study-programm__list-2 p {
	font-size: 26px;
}
@media screen and (min-width:1280px){
.study-programm{
	width: 603px;
	min-height: 1309px;
	padding-left: 10px;

}
.study-programm-title{
	 margin-left: 0px;
   padding-top: 238px;
}
.study-programm__line{
	margin-left: 0px;
	}
.study-programm__text{
	width: 405px;
	margin-left: 0px;
 }
 .study-programm__button{
	width: 603px;
	margin-left: 0px;
}
.study-programm__item{
	position: relative;
	width: 603px;
	min-height: 80px;
}
.study-programm__button--horizontal,
.study-programm__button--vertical{
	width: 299px;
font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
 padding-top: 5px;
  padding-left: 5px;
}
.study-programm__list{
	margin-left: 0px;
}
.study-programm__item span{
 width: 202px;
 padding-left: 33px;
 padding-top: 28px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

.study-programm__item span:after{
	right: 38px;
	top: 38px;
}
.study-programm__item p{
  padding-left: 0px;
}
.study-programm__list-2 p {
	font-size: 26px;
}


.study-programm__item p:after{
content: "";
position: absolute;
width: 40px;
height: 40px;
right: 30px;
bottom: 20px;
background-image: url(../img/ico2.jpg);
background-repeat: no-repeat;
}
.another-icon p:after{
content: "";
position: absolute;
width: 40px;
height: 40px;
right: 30px;
bottom: 20px;
background-image: url(../img/ico3.svg);
background-repeat: no-repeat;
} 
}