// Цвета текстов сайта
$color-gold: #f7ab05;

$color-white: #ffffff;

$color-light-black: #2a2c2f;

$color-orange: #df402a;



// фоновые цвета

$background-color-white: #ffffff;

$background-color-light-black: #2a2c2f;

$background-color-gold: #f7ab05;
$background-color-purple: #563fd8;
$background-color-pink: #a21b6b;
$background-color-red: #df402a;

// фоновые цвета кнопок

$color-button-green: #09a38d;
