.advantages{
	background-color: $background-color-white;
	min-height: 1542px;
	padding-top: 80px;
	
	width: 320px;
	margin: 0 auto;

}
.advantages-title{
	width: 293px;
  height: 56px;
    font-size: 46px;
  font-weight: 300;
   line-height: 1.22;
    color: $color-light-black;
    text-transform: uppercase;
    margin-left: 12px;
}
.advantages-line{
	display: block;
	  width: 35px;
  height: 3px;
  border-radius: 1px;
  margin-left: 17px;
  margin-top: 10px;
  background-color: $background-color-red;
}
.content-mentors,
.content-balance,
.content-test-interviews,
.content-escort{
	width: 305px;
	min-height: 203px;
	margin-top: 60px;
}
.content-mentors img,
.content-balance img,
.content-test-interviews img,
.content-escort img{
	margin-left: 17px;
}
.mentors-title,
.balance-title,
.content-test-interviews-title,
.escort-title{
	 width: 250px;
  height: 85px;
  margin-top: 23px;
  margin-left: 15px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  color: $color-light-black;
  margin-bottom: 0;

}
.mentor-text,
.balance-text,
.content-test-interviews-text,
.escort-text{
	width: 280px;
  height: 48px;
  font-size: 18px;
  line-height: 1.34;
  margin-top: 8px;
  color: $color-light-black;
  margin-left: 17px;
}
.content-balance,
.content-test-interviews,
.content-escort{
	margin-top: 65px;
}
.balance-text{
	margin-top: 5px;
}
.content-test-interviews-title{
 margin-top: 33px;
 margin-left: 17px;
}

@media screen and (min-width:1440px){
.advantages{
  min-height: 932px;
  padding-top: 250px;
  width: 1255px;
  margin: 0 auto;
  overflow: hidden;
/*  padding-left: 10px;
*/
}
.advantages-title{
    margin-left: 0px;
}
.advantages-line{
  margin-left: 5px;
}

.advantages-content{
  display: flex;

}
.content-mentors{
  margin-top: 79px;
}
.content-balance{
  margin-top: 85px;
}
.content-test-interviews{
  margin-top: 75px;
}
.content-escort{
  margin-top: 75px;
   
}
.content-mentors img{
  margin-left: 4px;
}
.content-balance img{
  margin-left: 20px;
}
.content-test-interviews img{
  margin-left: 35px;
}
.content-escort img{
  margin-left: 50px;
}
.mentors-title{
   margin-top: 30px;
  margin-left: 2px;
}
.balance-title{
   margin-top: 33px;
  margin-left: 18px;
}
.content-test-interviews-title{
  margin-left: 35px;
}
.escort-title{
  margin-top: 32px;
  margin-left: 47px;
}
.mentor-text{
  width: 230px;
  margin-top: 8px;
  margin-left: 3px;
}
.balance-text{
  width: 230px;
  margin-top: 8px;
  margin-left: 18px;
}
.content-test-interviews-text{
  width: 240px;
  margin-left: 34px;
 }
 .escort-text{
  width: 250px;
  margin-left: 49px;
 }

}