.command{
  width: 320px;
	min-height: 794px;
  margin: 0 auto;
	
}
.command-wrapper{
  background-color: $background-color-white;

}
.command-title{
	 width: 215px;
  height: 136px;
   font-size: 46px;
  font-weight: 300;
  line-height: 1.22;
  color: $color-light-black;
  text-transform: uppercase;
  margin-left: 11px;
  padding-top: 80px;

}
.command-line{
	display: block;
	margin-top: 10px;
	margin-left: 15px;
	height: 3px;
	border-radius: 5px;
	width: 35px;
	background-color: $background-color-gold;
}
    .slider {
      position: relative;
      overflow: hidden;
      width: 320px;
      min-height: 550px;
       margin-top: 40px;
  }
    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }
      .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }



    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
    	top: 215px;
    	left: -3px;
      border-radius: 50%;
    }
    .slider__control_right {
      top: 215px;
      right: -3px;
      border-radius: 50%;
    }
    .slider__control::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("../img/left-arrow.svg");
      border-radius: 50%;
      background-size: 200%;
      background-position: 50% 37%;
    }
    .slider__control_right::before {
    background-image: url("../img/right-arrow.svg");
   background-size: 200%;
    background-position: 50% 37%;
    border-radius: 50%;
    }
.slider__item--wrapper{
  display: flex;
}
.slider__item--block{
  position: relative;
  width: 281px;
 }
 .slider__item:first-child img{
  margin-left: 51px;
  border-radius: 50%;
    box-shadow:  15px 15px 0 0 #df402a;

 }
 .slider__item:nth-child(2) img{
    margin-left: 51px;
  margin-left: 51px;
 border-top-right-radius: 50%;
 border-bottom-left-radius: 50%;
 box-shadow:  20px 15px 0 0 #0fb49c;
 }
  .slider__item:nth-child(3) img{
    position: relative;
    margin-left: 51px;
  
  }

 .slider__item:nth-child(4) img{
    margin-left: 51px;
  box-shadow:  20px 15px 0 0 #a21b6b;
 }
.slider__item-name{
   font-size: 36px;
  line-height: 1.17;
  margin-left: 15px;
  height: 84px;
  margin-top: 41px;
  color: $color-light-black;
}
.slider__item-icon,
.slider__item-icon2,
.slider__item-icon3,
.slider__item-icon4{
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 16px;
  margin-top: 28px;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #df402a;
}
.slider__item-icon:after,
.slider__item-icon2:after,
.slider__item-icon3:after,
.slider__item-icon4:after{
  font-family: "Material-Design-Iconic-Font";
  content: "";
  position: absolute;
  width: 17px;
  height: 18px;
  right: 77px;
  background-repeat: no-repeat;
}
.slider__item-icon2:after{
   font-family: "Material-Design-Iconic-Font";
  content: "";
}
.slider__item-icon3:after{
  font-family: "Material-Design-Iconic-Font";
  content: "";
right: 165px;
}
.slider__item-icon4:after{
    font-family: "Material-Design-Iconic-Font";
  content: "";
  right: 165px;
}
.slider__item-skill{
  display: block;
  width: 288px;
  margin-top: 6px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.35;
  color: $color-light-black;
  margin-left: 16px;

}

   
@media screen and (min-width:1440px){
.command{
  width: 1420px;
  min-height: 1162px;
  margin: 0 auto;

}
.command-wrapper{
    padding-top: 157px;

}
.command-title{
  margin-left: 82px;
}
.command-line{
  margin-top: 9px;
  margin-left: 85px;
}
     .slider {
      
        width: 1420px;
        margin-top: 59px;
        padding-left: 35px;
       
             }
.slider__wrapper{
  width: 1300px;
  margin-left: 25px;
  

}
      .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
     
    }
    .slider__control_left {
      top: 220px;
      left: -10px;
   
    }
    .slider__control_right {
      top: 220px;
      right: -5px;
      
    }

    .slider__item:first-child img{
margin-left: 25px;
    box-shadow:  15px 17px 0 0 #df402a;

 }
    .slider__item:nth-child(2) img{
  margin-left: 20px;
  box-shadow:  15px 14px 0 0 #0fb49c;
 }
  .slider__item:nth-child(3) img{
    margin-top: 5px;
    margin-left: 15px;
  }
 .slider__item:nth-child(4) img{
    margin-left: 10px;
  box-shadow:  17px 17px 0 0 #a21b6b;
 }

 .slider__item:first-child .slider__item-name{
  margin-left: 25px;
  margin-top: 41px;
    font-weight: bold;
 }
 .slider__item:nth-child(2) .slider__item-name{
    font-weight: bold;
  margin-left: 20px;
 }
  .slider__item:nth-child(3) .slider__item-name{
      font-weight: bold;
      margin-top: 25px;
  margin-left: 15px;
 }
   .slider__item:nth-child(4) .slider__item-name{
      font-weight: bold;
  width: 180px;
  margin-left: 10px;
 }
 .slider__item:first-child a{
  margin-left: 25px;
  margin-top: 31px;
 }
.slider__item:nth-child(2) a{
  margin-top: 31px;
margin-left: 20px;
}
.slider__item:nth-child(3) a{
  margin-top: 29px;
margin-left: 15px;
}
.slider__item:nth-child(4) a{
  margin-top: 31px;
  margin-left: 10px;

}
.slider__item-icon:after{

  right: 65px;
  }
  .slider__item-icon2:after{
   right: 72px;
  }
  .slider__item-icon3:after{
   right: 160px;
  }
  .slider__item-icon4:after{
   right: 165px;
  }
  .slider__item-skill{
    width: 281px;
  margin-left: 50px;
    font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}
.slider__item:nth-child(1) .slider__item-skill{
  margin-left: 25px;
}
.slider__item:nth-child(2) .slider__item-skill{
  margin-left: 20px;
}
.slider__item:nth-child(3) .slider__item-skill{
  margin-left: 15px;
}
.slider__item:nth-child(4) .slider__item-skill{
  margin-left: 10px;
 }
}