.main-footer{
	min-height: 98px;
	background-color: $background-color-light-black;
}
.main-footer__wrapper{
	width: 320px;
	margin: 0 auto;
}
.main-footer__wrapper img{
	padding-top: 16px;
 width: 287px;
 margin-left: 16px;

}
.footer-copyright{
 font-size: 14px;
color: $color-white;
font-weight: lighter;
opacity: 0.25;
margin: 0;
padding-left: 96px;
  line-height: 1.71;
}
.footer-nav{
	display: none;
}

@media screen and (min-width:1440px){
.main-footer{
	min-height: 170px;
	background-color: $background-color-light-black;

}
.main-footer__wrapper{
	width: 1440px;
	margin: 0 auto;
	padding-top: 49px;
	display: flex;
	
}
.main-footer__wrapper img{
	padding: 0px;
 width: 348px;
 height: 75px;
 margin-left: 22px;
 margin-top: -4px;


}
.footer-nav{
	display: block;
}
.footer-nav-list{
	margin-top: 27px;
	display: flex;
	list-style: none;
	width: 688px;
	justify-content: space-between;
}
.footer-nav-item a{

	color: $color-white;
	font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}
.footer-copyright{
	margin-top: 27px;
  opacity: 0.5;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}
}
@media screen and (min-width:1920px){
.main-footer{
	min-height: 170px;
	background-color: $background-color-light-black;

}
.main-footer__wrapper img{
	padding: 0px;
 width: 348px;
 height: 75px;
 margin-left: 12px;
 margin-top: -4px;


}
.main-footer__wrapper{
	width: 1831px;
	}
	.footer-nav-list{
	margin-left: 190px;
}
.footer-copyright{
	margin-left: 244px;
}
.nav-button, 
.nav-button-scroll{
  display: block;
}
}